.hero {
  padding: 3rem 0;

  &-title {
    font-size: 3.5rem;
    font-family: $font-secondary;
    letter-spacing: -4px;
    color: $clr-light;
  }

  &-span {
    color: $clr-brown;
  }

  &-text {
    color: $clr-light;
    font-size: 1.2rem;
  }

  &-btn {
    display: inline-block;
    border: 0;
    background-color: $clr-brown;
    padding: 0.3rem 1.7rem;
    border-radius: 8rem;

    &:hover {
      opacity: 0.7;
    }
  }

  &-link {
    font-size: 1.2rem;
    color: $clr-light;
    font-family: $font-secondary;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.section-one {
  padding: 3rem 0;

  .col {
    margin-bottom: 2.5rem;
  }

  h2 {
    font-size: 1.875rem;
    font-family: $font-secondary;
  }

  p {
    font-size: 1.125rem;
  }
}

.section-two {
  padding: 3rem 0;

  h2 {
    font-size: 2.25rem;
    font-family: $font-secondary;
  }

  p {
    font-size: 1.3125rem;
    margin-bottom: 3rem;
  }

  img {
    margin-bottom: 2rem;
  }

  aside {
    .col {
      padding: 1rem 2.3rem;
      margin-bottom: 2rem;
      color: $clr-light;
    }

    h3 {
      font-size: 1.875rem;
      font-family: $font-secondary;
    }

    p {
      font-size: 1.125rem;
    }
  }
}

.footer {
  padding: 2rem 0;

  &-main-content {
    margin-bottom: 4rem;
  }

  &-title {
    font-size: 2rem;
    font-family: $font-secondary;
    font-weight: 700;
    color: $clr-light;
    margin-bottom: 4rem;
  }

  h2 {
    font-size: 1.3125rem;
    font-family: $font-secondary;
    margin-bottom: 2rem;
  }

  p,
  a {
    font-size: 1rem;
    color: $clr-light;
    opacity: 0.65;
  }

  &-item {
    margin-bottom: 2rem;
  }

  &-link:hover {
    opacity: 1;
  }
}
