@media (min-width: 700px) {
  .section-two {
    aside {
      display: flex;

      .col + .col {
        margin-left: 1rem;
      }

      .col {
        padding: 0.3rem 0.5rem;

        p {
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}
