// Background Colors
.bg {
  &-primary {
    @include set-background($clr-primary);
  }
  &-secondary {
    @include set-background($clr-secondary);
  }
  &-grey {
    @include set-background($clr-grey);
  }
  &-light-grey {
    @include set-background($clr-light-grey);
  }
  &-light {
    @include set-background($clr-light);
  }
  &-brown {
    @include set-background($clr-brown);
  }
}

// General uses
.d-none {
  display: none;
}

.text-center {
  text-align: center;
}

.secondary-title {
  color: $clr-brown;
}
